In [11]:
import pandas as pd
import sklearn
from sklearn.preprocessing import 
from sklearn.cross_validation import KFold
from sklearn import cross_validation
import matplotlib.pyplot as plt
import seaborn as sns

SyntaxError: invalid syntax (<ipython-input-11-5cac36a4d5b1>, line 3)

In [8]:
import sklearn

'0.17'

In [2]:
!ls *.csv

age_gender_bkts.csv       sessions 2.csv            train_users_2.csv
countries.csv             sessions.csv
sample_submission_NDF.csv test_users.csv

In [3]:
df_age_gender_bkts = pd.read_csv('age_gender_bkts.csv')
df_countries = pd.read_csv('countries.csv')
df_sessions = pd.read_csv('sessions.csv')
df_sample_submission_NDF = pd.read_csv('sample_submission_NDF.csv')
df_test_users = pd.read_csv('test_users.csv')
df_train_users = pd.read_csv('train_users_2.csv')

In [27]:
df_age_gender_bkts[:5]

  age_bucket country_destination gender  population_in_thousands  year
0       100+                  AU   male                        1  2015
1      95-99                  AU   male                        9  2015
2      90-94                  AU   male                       47  2015
3      85-89                  AU   male                      118  2015
4      80-84                  AU   male                      199  2015

In [30]:
df_age_gender_bkts.age_bucket.value_counts()

85-89    20
45-49    20
60-64    20
25-29    20
10-14    20
35-39    20
50-54    20
90-94    20
55-59    20
75-79    20
30-34    20
20-24    20
100+     20
40-44    20
95-99    20
5-9      20
65-69    20
70-74    20
80-84    20
15-19    20
0-4      20
dtype: int64

In [24]:
df_countries[:5]

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
0,AU,-26.853388,133.275160,15297.7440,7741220,eng,0.00
1,CA,62.393303,-96.818146,2828.1333,9984670,eng,0.00
2,DE,51.165707,10.452764,7879.5680,357022,deu,72.61
3,ES,39.896027,-2.487694,7730.7240,505370,spa,92.25
4,FR,46.232193,2.209667,7682.9450,643801,fra,92.06

In [6]:
df_sample_submission_NDF[:5]

           id country
0  5uwns89zht     NDF
1  jtl0dijy2j     NDF
2  xx0ulgorjt     NDF
3  6c6puo6ix0     NDF
4  czqhjk3yfe     NDF

In [31]:
df_sessions[:50]

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435
5,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,7703
6,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,115
7,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,831
8,d1mm9tcy42,index,view,view_search_results,Windows Desktop,20842
9,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,683
10,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,59274
11,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,95
12,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,1399
13,d1mm9tcy42,index,view,view_search_results,Windows Desktop,74886
14,d1mm9tcy42,similar_listings,data,similar_listings,Windows Desktop,255
15,d1mm9tcy42,ajax_refresh_subtotal,click,change_trip_characteristics,Windows Desktop,8134
16,d1mm9tcy42,similar_listings,data,similar_listings,Windows Desktop,183
17,d1mm9tcy42,ajax_refresh_subtotal,click,change_trip_characteristics,Windows Desktop,175570
18,d1mm9tcy42,show,NaN,NaN,Windows Desktop,86
19,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,1535
20,d1mm9tcy42,show,view,p3,Windows Desktop,83251
21,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,360
22,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,2488
23,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,456
24,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,10053
25,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,50
26,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,1996
27,d1mm9tcy42,index,view,view_search_results,Windows Desktop,82263
28,d1mm9tcy42,show,NaN,NaN,Windows Desktop,102
29,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,673
30,d1mm9tcy42,show,view,p3,Windows Desktop,2959
31,d1mm9tcy42,ajax_refresh_subtotal,click,change_trip_characteristics,Windows Desktop,982
32,d1mm9tcy42,show,NaN,NaN,Windows Desktop,39
33,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,808
34,d1mm9tcy42,show,view,p3,Windows Desktop,6417
35,d1mm9tcy42,ajax_refresh_subtotal,click,change_trip_characteristics,Windows Desktop,1013
36,d1mm9tcy42,show,NaN,NaN,Windows Desktop,170
37,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,1281
38,d1mm9tcy42,show,view,p3,Windows Desktop,10401
39,d1mm9tcy42,ajax_refresh_subtotal,click,change_trip_characteristics,Windows Desktop,427
40,d1mm9tcy42,show,NaN,NaN,Windows Desktop,40
41,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,75
42,d1mm9tcy42,header_userpic,data,header_userpic,Windows Desktop,1063
43,d1mm9tcy42,show,view,p3,Windows Desktop,189200
44,d1mm9tcy42,ask_question,submit,contact_host,Windows Desktop,882
45,d1mm9tcy42,NaN,message_post,message_post,Windows Desktop,NaN
46,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,12
47,d1mm9tcy42,similar_listings,data,similar_listings,Windows Desktop,403
48,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,101
49,d1mm9tcy42,show,NaN,NaN,Windows Desktop,1421

In [19]:
print df_sessions.shape
df_sessions.count()

(10567737, 6)

user_id          10533241
action           10488111
action_type       9441533
action_detail     9441533
device_type      10567737
secs_elapsed     10431706
dtype: int64

In [23]:
df_sessions.device_type.value_counts()

Mac Desktop                         3594286
Windows Desktop                     2658539
iPhone                              2105031
Android Phone                        839637
iPad Tablet                          683414
Android App Unknown Phone/Tablet     273652
-unknown-                            211279
Tablet                               139886
Linux Desktop                         28373
Chromebook                            22348
iPodtouch                              8198
Windows Phone                          2047
Blackberry                              979
Opera Phone                              68
dtype: int64

In [9]:
df_train_users[:5]

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [16]:
print df_train_users.shape
df_train_users.count()

(213451, 16)

id                         213451
date_account_created       213451
timestamp_first_active     213451
date_first_booking          88908
gender                     213451
age                        125461
signup_method              213451
signup_flow                213451
language                   213451
affiliate_channel          213451
affiliate_provider         213451
first_affiliate_tracked    207386
signup_app                 213451
first_device_type          213451
first_browser              213451
country_destination        213451
dtype: int64

In [35]:
def dummy_it(input_df):
    '''
    I: Pandas DataFrame with categorical features
    O: Same df with binarized categorical features
    '''
    
    # base_case empty DF to append to
    base_case_df = pd.DataFrame() 
    categorical_variables = []
    
    # every column that's not a categorical column, we dummytize
    for col in input_df.columns:
        if input_df[col].dtype in ['float64','int64','bool']:
            base_case_df = pd.concat([base_case_df, input_df[col]], axis=1)
        else:
            base_case_df = pd.concat([base_case_df, pd.get_dummies(input_df[col])], axis=1)
            categorical_variables.append(col)
    
    # print out all the categoricals which are being dummytized
    if categorical_variables: 
        print 'Variables Being Dummytized: '
        print '=' * 10
        print '\n'.join(categorical_variables)

    return base_case_df

In [ ]:
def feature_importance(feature_names, model, top=10):
    '''
    Plotting top x most important features
    
    I: Feature Matrix (DataFrame), model, labels (y), top x
    O: Bar plot of most normalized by the most important feature
    '''
    
    #Grabbing names of the features
    feature_importance_series = pd.Series(model.feature_importances_, index=feature_names)
    feature_importance_series /= feature_importance_series.max()
    feature_importance_series.sort()
    
    #parsing the model date
    model_name = str(model).split('(')[0]

    # create a figure of given size
    # arg to play with the size: figsize=(25,25)
    fig = plt.figure(figsize=(9, 9))

    # add a  subplot
    ax = fig.add_subplot(111)
    
    plt.title(model_name)
    feature_importance_series[::-1][:top][::-1].plot(kind='barh')
    
    #remove weird dotted line on axis
    ax.lines[0].set_visible(False)
    pass

In [33]:
X = df_train_users
y = X.pop('country_destination')

In [ ]:
dummy_it(X)